<html>
  <head>
    <link rel="stylesheet" href="/details.css" />
  </head>

  <body>
    <main>
      <h1>Details</h1>

      <div>
        <h2><%= message.user %></h2>
        <p><%= message.added %></p>
        <p><%= message.text %></p>
      </div>

      <a href="/">Go back to message board</a>
    </main>
  </body>
</html>
