<html>
  <body>
    <h1>Details</h1>

    <div>
      <h2><%= message.user %></h2>
      <p><%= message.added %></p>
      <p><%= message.text %></p>
    </div>

    <p><a href="/">Go back to message board</a></p>
  </body>
</html>
