<html>
  <head>
    <link rel="stylesheet" href="/form.css" />
  </head>

  <body>
    <main>
      <h1>New Message</h1>

      <form action="/new" method="post">
        <div>
          <label for="author">Name</label>
          <input type="text" name="author" id="author" />
        </div>

        <div>
          <label for="message">Message</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
