<html>
  <body>
    <h1>New Message</h1>

    <form action="/new" method="post">
      <div>
        <label for="author">Name</label>
        <input type="text" name="author" id="author" />
      </div>

      <div>
        <label for="message">Message</label>
        <input type="text" name="message" id="message" />
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
