<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <main>
      <h1><%= title %></h1>

      <div class="messages-container">
        <% if (locals.users) { %> <%- include('messages.ejs', { users: users })
        %> <% } %>
      </div>

      <a href="new" class="new-msg">Add new message</a>
    </main>
  </body>
</html>
