<% users.forEach((user) => { %>
<a href="/message/<%= user.id %>">
  <div class="card">
    <div class="card-header">
      <h3><%= user.username %></h3>
      <p><%= user.date %></p>
    </div>

    <p><%= user.text %></p>
  </div>
</a>
<% }) %>
