<div>
  <% messages.forEach((message) => { %>
  <div>
    <div>
      <h3><%= message.user %></h3>
      <p><%= message.added %></p>
    </div>

    <p><%= message.text %></p>

    <p><a href="/message/<%= message.id %>">Details</a></p>
  </div>
  <% }) %>
</div>
