<div class="messages-container">
  <% messages.forEach((message) => { %>
  <a href="/message/<%= message.id %>">
    <div class="card">
      <div class="card-header">
        <h3><%= message.user %></h3>
        <p><%= message.added %></p>
      </div>

      <p><%= message.text %></p>
    </div>
  </a>
  <% }) %>
</div>
