* {
  box-sizing: border-box;
}

:root {
  color: rgb(255, 237, 235);
  background-color: rgb(243, 118, 102);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 237, 235);
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 2px solid brown;
  border-radius: 8px;
  background-color: rgb(235, 60, 39);
  align-self: baseline;
  margin-top: 1.5rem;
}
